/* Add a black background color to the top navigation */
.topnav {
    background-color: grey;
    overflow: hidden;

  
  /* Style the links inside the navigation bar */
 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
   a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
    a.active {
    background-color: #04AA6D;
    color: white;
  }
}