.list-user-container {
    .list-user-content {
        .child {
            width: 400px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid grey;
        } 
    }
    
}
